/* Slideshow gallery is from: https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */

	/*
	* {
	box-sizing: border-box;
	}
	*/

	/* Position the image container (needed to position the left and right arrows) */
	.container {
	position: relative;
	}

	/* Hide the images by default */
	.mySlides, .mySlides2, .mySlides3 {
	display: none;
	}

	/* Add a pointer when hovering over the thumbnail images */
	.cursor {
	cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	cursor: pointer;
	position: absolute;
	/*top: 40%;*/
	width: auto;
	padding: 16px;
	/*margin-top: -50px;*/
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	text-decoration: none;
	}

	/* Position the "next button" to the right */
	.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	color: #f2f2f2;
	background-color: grey;
	opacity: 0.5;
	font-size: 12px;
	padding: 4px 6px;
	position: absolute;
	top: 0;
	}

	/* Container for image text */
	.caption-container {
	display: inline-block;
	position: absolute;
	right: 0px;
	left: 0px;
	text-align: center;
	background-color: #222;
	opacity: 0.5;
	padding: 2px 16px;
	color: white;
	font-weight: bold;
	}

	.row:after {
	content: "";
	display: table;
	clear: both;
	}

	/* Six columns side by side */
	.column_8 {
	float: left;
	width: 12.5%;
	}
	.column_5 {
	float: left;
	width: 20%;
	}
	.column_4 {
	float: left;
	width: 25%;
	}
	.column_10 {
	float: left;
	width: 10%;
	}

	/* Add a transparency effect for thumnbail images */
	.demo, .demo2, .demo3 {
	opacity: 0.6;
	}

	.active,
	.demo:hover, .demo2:hover, .demo3:hover {
	opacity: 1;
	}
